body {
    margin: 0;
}

#root {
    width: 80%;
    margin: 0 10%;
}

.quotebox {
    height: 100px;
    width: auto;
    text-align: end;
    max-width: auto;
}

#quote {
    margin: 50px;
    text-align: left;
    color: white;
}

@keyframes slidein {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

#author {
    margin: 100px;
    text-align: start;
    color: whitesmoke;
}

#newquote {
    margin: 20px;
    position: relative;
    border-radius: 5px;
    height: 35px;
    width: 100px;
    font-weight: 700;
    font-family: "Segoe UI", "Tahoma", "Geneva", "Verdana", sans-serif;
    color: black;
}